.container {
  border: solid 0.1px black;
  height: 30em;
  width: 30em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
}

.grid-item {
  justify-content: center;
  align-items: center;
  margin: 0%;
}
body {
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: space-around;
}
.inputs {
  border: 0.1px solid grey;
  height: 30em;
  width: 30em;
}
